h1{color:#034b59;}
p{color:green;}
p.attribution{color: beige;}
/*
THINGS TO STYLE
body: add a margin, change the background color
a: change the color and consider removing the underline (text-decoration)
p, headers, lists etc: change color
*/